.contact-group {
    height: 70px;
    display: flex;
}

.contact-icon {
    height: 100%; 
}

.contact-btn {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: var(--base);
    transition: all 0.3s ease;
}


.contact-btn:hover {
    background-color: var(--grayblue);
}

#contact-me-btn {
    padding: 4px;
}

#contact-me-btn, #contact-me-btn a {
    text-decoration: none;
    border: none;
    height: 100%;
    width: 170px;
    background-color: var(--base);
    color: var(--deepblue);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    transition: all 0.3s ease;
}

#contact-me-btn:hover, #contact-me-btn:hover a {
    cursor: pointer;
    background-color: var(--grayblue);
    color: var(--base)
}