.nav-bar {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 0;
    margin-bottom: 5px;
}

.nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    background-color: inherit;
    color: var(--base);

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    border: 2px solid var(--base);
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover:not(.active), .nav-link:focus:not(.active) {
    text-decoration: underline;
}

.nav-link.active {
    background-color: var(--base);
    color: var(--deepblue);
    font-weight: 700;
}

@media screen and (orientation: landscape) and (max-width: 900px) {

    .nav-bar {
        justify-content: center;
    }

   .nav-link {
        margin-inline: 10px;
        padding-top: 0;
        padding-bottom: 0;
   }

    
}

@media screen and (max-width: 500px) {
    .nav-link {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 500px) {
    .nav-bar {
        justify-content: center;
    }

    .nav-link {
        margin-inline: 10px;
        padding-top: 0;
        padding-bottom: 0;
   }
}

