.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-link {
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--deepblue);
}

.project-link:hover, .project-link:focus {
    text-decoration: underline;
}

.project-title {
    text-align: center;
    padding: 6px;
    font-family: 'M Plus', sans-serif;
    background-color: var(--grayblue);
    font-size: 3em;
    color: var(--base);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, .5);
}

.project-image {
    max-width: 100%;
}

* {
    scrollbar-color: var(--grayblue) var(--base);
}

::-webkit-scrollbar {
    background: var(--base);
}

::-webkit-scrollbar-track {
    background: var(--base);
}

::-webkit-scrollbar-thumb {
    background: var(--grayblue);
}
/* 

.project-slide {
    width: 100%;
    padding: 20px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-slide {
    height: 600px;
    overflow-y: visible;
}



.project-slide a:hover, .project-slide a:focus {
    text-decoration: underline;
}

#first-pic-set {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#leafword-1 {
    min-width: 250px;
    max-width: 400px;
}

#leafword-2 {
    min-width: 250px;
    max-width: 400px;
}

#leafword-3 {
    min-width: 250px;
    max-width: 400px;
}

#leafword-4 {
    min-width: 250px;
    max-width: 400px;
}

.split-img-text {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#split-text {
    max-width: 300px;
}

#squid-movies-1 {
    width: 400px;
    border-left: 10px dashed var(--background);
}

#squid-movies-2 {
    width: 400px;
    border-right: 10px dashed var(--background);
}

#squid-movies-3 {
    width: 400px;
}

#bookwalker-1, #bookwalker-2 {
    width: 100%;
}

.project-title {
    text-align: center;
    padding: 6px;
    font-family: 'M Plus', sans-serif;
    background-color: var(--grayblue);
    font-size: 3em;
    color: var(--base);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, .5);
}

* {
    scrollbar-color: var(--grayblue) var(--base);
}

::-webkit-scrollbar {
    background: var(--base);
}

::-webkit-scrollbar-track {
    background: var(--base);
}

::-webkit-scrollbar-thumb {
    background: var(--grayblue);
}

@media screen and (orientation: landscape) {
    #first-pic-set {
        flex-direction: row;
    }

    #leafword-1 {
        width: 45%;
    }
    #leafword-2 {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .project-slide {
        padding: 10px;
    }
    #first-pic-set {
        width: 100%;
        flex-direction: column;
    }
    .project-image {
        width: 100%;
        border: none;
    }
    #squid-movies-1 {
        width: 100%;
        border: none;
    }
    #squid-movies-2 {
        width: 100%;
        border: none;
    }
    .split-img-text {
        flex-direction: column;
    }
    #squid-movies-3 {
        width: 100%;
    }
    #bookwalker-1 {
        width: 100%;
    }
    #bookwalker-2 {
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {
    .project-slide {
        padding: 10px;
    }
    #first-pic-set {
        width: 100%;
        flex-direction: column;
    }
    .project-image {
        width: 100%;
        border: none;
    }
    #squid-movies-1 {
        width: 100%;
        border: none;
    }
    #squid-movies-2 {
        width: 100%;
        border: none;
    }
    .split-img-text {
        flex-direction: column;
    }
    #squid-movies-3 {
        width: 100%;
    }
    #bookwalker-1 {
        width: 100%;
    }
    #bookwalker-2 {
        width: 100%;
    }

} */